# Command for running the C++ compiler.
#   CXX               -- C++ compiler executable
#   CXX_O_SWITCH      -- the switch to specify the output name, as in GCC's "-o" switch.
#   CXX_C_SWITCH      -- the switch to specify that the input should be compiled but not linked, as in GCC's "-c"
#   CXX_LIBDIR_SWITCH -- switch to add a library directory, as in GCC's "-L"
#   CXX_RPATH_SWITCH  -- switch to add a directory as an rpath, as in GCC's "-Wl,-rpath,"
#   CXX_LIB_SWITCH    -- switch to link with a particular library, as in GCC's "-l"
#
# To add a space after the switch, use four single quotes with a space between them, as in '' ''. This is a kludge
# based on the fact that the shell script will treat each pair of quotes as an empty string in the command and
# prevents editors from removing white space at the ends of lines.
CONFIG_CXX=c++
CONFIG_CXX_O_SWITCH=-o'' ''
CONFIG_CXX_C_SWITCH=-c'' ''
CONFIG_CXX_LIBDIR_SWITCH=-L
CONFIG_CXX_RPATH_SWITCH=-Wl,-rpath,
CONFIG_CXX_LIB_SWITCH=-l

# Command for running the C compiler.
CONFIG_CC=cc
CONFIG_CC_O_SWITCH=-o'' ''
CONFIG_CC_C_SWITCH=-c'' ''
CONFIG_CC_INCDIR_SWITCH=-I
CONFIG_CC_LIBDIR_SWITCH=-L
CONFIG_CC_RPATH_SWITCH=-Wl,-rpath,
CONFIG_CC_LIB_SWITCH=-l


CONFIG_LINKAGE=shared
CONFIG_BOOST=/home/matzke/.spock/var/installed/wyoming/8a5b5574/boost-nopy
CONFIG_LIBPQXX=/home/matzke/.spock/var/installed/wyoming/103ff890/libpqxx
CONFIG_SQLITE=/home/matzke/.spock/var/installed/wyoming/69673a6f/sqlite
